
<h1>Tributes:</h1>

<% @tributes.each do |tribute| %>
  <ul>
    <li>Name: <%= tribute.name %></li>
    <li>Age: <%= tribute.age %></li>
    <li>Gender: <%= tribute.gender %></li>
  </ul>
  <% end %>